html,
body {
  overflow-x: hidden;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Nav icon positioning */

.position {
  position: absolute;
  top: 0px;
  left: -5px;
  transition: all .3s ease;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .position {
    position: absolute;
  }
}

/* Elijah Manor Nav button */

#nav-toggle {
  cursor: pointer;
  padding: 28px 48px 28px 16px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  &.active {
    background-color: #042351;
  }
}

@media screen and (min-width: 768px) {
  #nav-toggle {
    cursor: pointer;
    padding: 37px 56px 37px 20px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    &.active {
      background-color: #042351;
    }
  }
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
  transition: all 200ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

/* #nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  transition: all 200ms ease-in-out;
} */

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/* Off Canvas Navigation */

header {
  transition: .3s ease all;
}

main {
  /*   width: 100%;
  position: absolute;
  left: 0; */
  transition: .3s ease all;
}

aside {
  width: 250px;
  height: 100%;
  position: absolute;
  top: 0px;
  left: -250px;
  background: #042351;
  font-size: 0.875rem;
  font-weight: 400;
  transition: all .3s ease;
  p {
    color: #cdcdcd;
    padding: 20px;
  }
  nav ul {
    margin: 0;
    padding: 0;
    li {
      border-bottom: 0;
      &:first-of-type {
        border-top: 0;
      }
      a {
        padding: 10px 20px;
        display: block;
        color: #fff;
        text-decoration: none;
        &:hover {
          color: #fff;
          background: $bga-blue;
        }
      }
    }
  }
}

/* JavaScript toggle */

.show-nav aside,
.show-nav .position,
.show-nav main {
  transform: translateX(250px);
}

.show-nav .position {
  position: absolute;
}
